<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <appSettings>
    <add key="AplicacaoPrincipal.Caminho" value="C:\AplicacaoPrincipal\AplicacaoPrincipal.exe" />
    <add key="UsuarioExecucao" value="fraco"/>
    <add key="SenhaUsuarioExecucao" value="fraco123"/>
    
  </appSettings>
</configuration>