<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Webview2.Runtime" value="C:\WebView2Runtime\92"/>
    <add key="Webview2.Userdata" value="C:\Webview2UserData"/>
    <add key="Webview2.Source" value="https://www.google.com.br"/>
  </appSettings>
</configuration>